.whatsappBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 189px;
    height: 40px;
    background-image: url('../assets/WhatsAppButtonGreenMedium.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}