.containerCard {
    background-color: #ffffff;
    border-radius: 1rem; /* 16px */
    max-width: 472px;
}

/*Estilo de la imagen de la tarjeta*/
.containerImage {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    height: 65%;
    border-top-left-radius: 1rem; /* 16px */
    border-top-right-radius: 1rem; /* 16px */
}

.containerImage:hover {
    opacity: 0.75;
}

@media (min-width: 640px) {
    .containerImage {
        height: 75%;
    }
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem; /* 16px */
    border-top-right-radius: 1rem; /* 16px */
    aspect-ratio: 800/533;
}

/*Estilos de los textos de la tarjeta*/
.containerText {
    padding: 20px;
}

@media (max-width: 640px) {
    .containerText {
        padding: 10px;
    }
}

.title {
    font-weight: var(--font-weight-semibold);
    color: #E47F07;
    text-wrap: pretty;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (max-width: 640px) {
    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
    }
}

.detalle {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-light);
    color: var(--text-color-black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divDetalle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detallePersona {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-light);
    color: var(--text-color-black);
    margin-top: 4px;
    text-align: center;
}

.detallePrecio {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
    text-align: center;
}

@media (max-width: 640px) {
    .detallePrecio {
        font-size: var(--font-size-base);
        line-height: var(--line-height-base);
    }
}