/*Estilos de la seccion de main del home*/
.main {
    background-color: var(--background-color-home);
    padding: 8rem 24px 4rem 24px;
}

@media (min-width: 1024px) {
    .main {
        padding-left: 64px;
        padding-right: 64px;
    }
}

.mainDos {
    background-color: var(--background-color-home);
    padding: 8rem 24px 4rem 24px;
    height: 100vh;
}

@media (min-width: 1024px) {
    .mainDos {
        padding-left: 64px;
        padding-right: 64px;
    }
}

/*Estilos del contenedor de cards*/
.main__sectionCard {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}

.divDetalle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (min-width: 551px) and (max-width: 767px) {
    .main__sectionCard {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main__sectionCard {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .divDetalle {
        flex-direction: column;
        gap: 1.25rem;
        align-items: flex-start;
        margin-top: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .main__sectionCard {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media (min-width: 1280px) {
    .main__sectionCard {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}