.carouselItem__gallery {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    max-width: 100%;
    gap: 10px;
    align-items: center;
}

.details__buttons_gallery {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-medium);
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: none;
}

.details__buttons_atras_gallery {
    font-size: 14px;
    text-decoration: underline;
    text-transform: none;
    color: black;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-medium);
}