/*Estilos del boton de busqueda*/
.searchButton {
    width: 100%;
}

@media (min-width: 768px) {
    .searchButton {
        width: 60%;
    }
}

.searchButton__container {
    position: relative;
}

/*Estilos del input*/
.searchButton__input {
    display: block;
    width: 100%;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-light);
    color: #000000;
    border-radius: 0.5rem;
    /* 8px */
    background-color: #ffffff;
    padding: var(--button-primary-padding);
    border: none;
    font-family: 'Nunito Sans', 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.searchButton__input:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.searchButton__input:focus {
    background-color: #ffffff;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/*Estilos del boton de lupa*/
.searchButton__buttton {
    color: #ffffff;
    position: absolute;
    background-color: #E47F07 !important;
    border: none;
    padding: 8px 10px;
    bottom: 3px;
    inset-inline-end: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}