<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap"
            rel="stylesheet" />
    <title>Confirmación de registro</title>
</head>

<body style="font-family: 'Nunito Sans'">
<section style="
        background-color: white;
        max-width: 42rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
      ">
    <!--
    <header>
      <a href="#">
        <img style="width: auto; height: 1.75rem" src="https://drive.google.com/file/d/1IHMe02HWJy_Ws2MdHm3tIpUakYHyGM-p/view?usp=drive_link" alt="logo_nosFuimos" />
      </a>
    </header>
    -->

    <main style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 5rem;
        ">
        <!--
        <img style="width: auto; height: 5rem" src="https://drive.google.com/file/d/1EGuiBvbJZZK-nKpRRRv3HUX5PJX5DPua/view?usp=drive_links" alt="logo_check" />
        -->
        <h2 style="color: #e37b00; font-weight: 500; font-size: 1.875rem; line-height: 2.25rem;">
            ¡Hola <span th:text="${nombreUsuario}"></span>!,
        </h2>

        <div style="
            display: flex;
            flex-direction: column;
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-align: center;
          ">
            <p style="
              font-size: 1rem;
              line-height: 1.5rem;
              color: black;
              margin: 0;
            ">
                Has hecho una reserva exitosamente en Nos Fuimos,
            </p>
            <p style="
              font-size: 1rem;
              line-height: 1.5rem;
              color: black;
              margin: 0;
            ">
                <span style="font-weight: 600; text-decoration: none"><span th:text="${destino}"></span>!</span>.
            </p>
        </div>

    </main>
</section>
</body>

</html>